# Ignore virtual environment
/cortavia_env/
.env


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so